<div class="section">
  <form class="" name="commentForm" novalidate
        angular-validator
        angular-validator-submit="createComment()">

    <div class="row">
      <div class="input-field col s12">
        <textarea rows="5" id="body" class="materialize-textarea" name="body" required ng-model="body"></textarea>
        <label for="body">Text</label>
      </div>
    </div>

    <div class="right-align">
      <button type="submit" class="waves-effect waves-light btn">Add Comment</button>
    </div>
  </form>
</div>
