<ul class="right hide-on-med-and-down">
  <li ng-show="isUserIn"><a href="/#!/posts/new" class="waves-effect waves-light btn">Create new post</a></li>
  <li ng-show="isUserIn">
    <a class="dropdown-button" href="javascript:void(0);" data-activates="user-settings">{{currentUser.firstName}} {{currentUser.lastName}}</a>
  </li>

  <li ng-show="!isUserIn"><a href="/#!/login">Sign in</a></li>
  <li ng-show="!isUserIn"><a href="/#!/signup" class="waves-effect waves-light btn">Sign up</a></li>
</ul>

<ul id="user-settings" class="dropdown-content">
  <li><a href="/#!/account">Account</a></li>
  <li class="divider"></li>
  <li><a href="/" ng-click="logout()">Log out</a></li>
</ul>
