label.has-error.validationMessage,
label.has-error.validationMessage.active {
    position: initial;
    top: -15px;
    left: 0;
    font-size: 12px;
    color: #F44336 !important;
}

#user-posts > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
