<div class="container section ">
  <div class="card hoverable">
    <div class="card-content">
      <div class="card-title grey-text text-darken-4">{{currentUser.firstName}} {{currentUser.lastName}}</div>
      <div class="divider"></div>

      <div class="section">
        <div class="row">
          <div class="col s12 m3 grey-text text-darken-2">Email</div>
          <div class="col s12 m9">{{currentUser.email}}</div>
        </div>
        <div class="row">
          <div class="col s12 m3 grey-text text-darken-2">Username</div>
          <div class="col s12 m9">{{currentUser.username}}</div>
        </div>
      </div>

    </div>
  </div>

  <div class="card hoverable">
    <div class="card-content">
      <div class="card-title grey-text text-darken-4">My posts</div>

      <div class="section" ng-if="!userPosts || !userPosts.length">
        <h6 class="grey-text darken-3-text">There is no posts yet</h6>
      </div>

      <ul class="collection" id="user-posts" ng-if="userPosts && userPosts.length">
        <li class="collection-item" ng-repeat="post in userPosts">
          <a href="/#!/posts/{{post.id}}">
            <span class="title">{{post.title}}</span>
          </a>

          <div>
            <a href="/#!/posts/edit/{{post.id}}" class="btn-floating btn-small waves-effect waves-light blue">
              <i class="material-icons">edit</i>
            </a>
            <button class="btn-floating btn-small waves-effect waves-light red" ng-click="deletePost(post.id)">
              <i class="material-icons">delete</i>
            </button>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
