<div class="container section ">
  <div ng-if="!posts || !posts.length">
    <h5 class="center-align grey-text darken-3-text">There is no posts yet</h5>
  </div>

  <div class="card hoverable" ng-repeat="post in posts">
    <div class="card-content">
      <div class="card-title">
        {{post.title}}
        <h6 class="grey-text darken-3-text" style="margin: 5px 0 20px 0">{{post.user.firstName}} {{post.user.lastName}}</h6>
      </div>
      <p class="truncate">{{post.body}}</p>
      <p>
        <a href="#!/posts/{{post.id}}">see more</a>
      </p>
    </div>
    <div class="card-action grey-text darken-3-text">
      <span>{{dateFormat(post.createdAt)}}</span>
      <span style="float: right;">
        Comments:
        <span class="grey-text darken-3-text">{{post.comments.length}}</span>
      </span>
    </div>
  </div>
</div>
