<div class="container section">
  <div class="row">
    <form class="col s12 m6 offset-m3 card hoverable section" name="loginForm" novalidate
          ng-init="candidate={}"
          angular-validator
          angular-validator-submit="login()">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" name="email" required ng-model="candidate.email" invalid-message="'Emails is invalid'">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" name="password" required ng-model="candidate.password">
          <label for="password">Password</label>
        </div>
      </div>

      <div class="section right-align">
        <button type="submit" class="waves-effect waves-light btn">Login</button>
      </div>
    </form>
  </div>
</div>
