<div class="container section">
  <div class="row">
    <form class="col s12 m8 offset-m2 card hoverable" name="userForm" novalidate
          ng-init="newUser = {}"
          angular-validator
          angular-validator-submit="signup()">
      <div class="section">
        <h5 class="teal-text darken-4-text">Create new user</h5>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" name="firstName" ng-model="newUser.firstName">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" name="lastName" ng-model="newUser.lastName">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" name="username" required ng-model="newUser.username">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" name="email" required
                 ng-model="newUser.email"
                 ng-pattern = "/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
                 invalid-message = "'Email is invalid'">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" name="password" required
                 ng-model="newUser.password"
                 ng-pattern = "/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}/"
                 invalid-message = "'Password requires at least one uppercase letter, one lowercase letter, one number and one special character'"
                 required>
          <label for="password">Password</label>
        </div>
      </div>

      <div class="section right-align">
        <button type="submit" class="waves-effect waves-light btn">Create</button>
      </div>
    </form>
  </div>
</div>
