<div class="container section">
  <div class="row">
    <!--TODO: create component!-->
    <form class="col s12 m8 offset-m2 card hoverable" name="postForm" novalidate
          angular-validator
          angular-validator-submit="editPost()">
      <div class="section center-align">
        <h5 class="teal-text darken-4-text">Edit post</h5>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" name="username" required ng-model="post.title">
          <label for="username">Title</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="body" class="materialize-textarea" name="body" required ng-model="post.body"></textarea>
          <label for="body">Text</label>
        </div>
      </div>

      <div class="section right-align">
        <button type="submit" class="waves-effect waves-light btn">Save</button>
      </div>
    </form>
  </div>
</div>
