<div class="container section">
  <div class="row">
    <form class="col s12 m8 offset-m2 card hoverable" name="postForm" novalidate
          ng-init="newPost = {}"
          angular-validator
          angular-validator-submit="createPost()">
      <div class="section center-align">
        <h5 class="teal-text darken-4-text">Create new post</h5>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" name="username" required ng-model="newPost.title">
          <label for="username">Title</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea rows="5" id="body" class="materialize-textarea" name="body" required ng-model="newPost.body"></textarea>
          <label for="body">Text</label>
        </div>
      </div>

      <div class="section right-align">
        <button type="submit" class="waves-effect waves-light btn">Create</button>
      </div>
    </form>
  </div>
</div>
