<div class="container section ">
  <div class="card hoverable">
    <div class="card-content">
      <div class="card-title grey-text text-darken-4">{{post.title}}</div>
      <div class="divider"></div>
      <p class="section flow-text grey-text text-darken-2">{{post.body}}</p>
    </div>
  </div>

  <div class="section">

    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title">Comments</span>

        <div ng-if="!post.comments || !post.comments.length" class="section">
          <h6 class="grey-text darken-3-text">There is no comments</h6>
        </div>

        <ul class="collection" ng-if="post.comments && post.comments.length">
          <li class="collection-item" ng-repeat="comment in post.comments">
            <span class="title grey-text text-darken-4">{{comment.user.username}}</span>
            <span class="title grey-text text-darken-2" style="float: right;">{{dateFormat(comment.createdAt)}}</span>
            <p class="grey-text text-darken-2 section" style="padding-left: 20px">
              {{comment.body}}
            </p>
          </li>
        </ul>

        <div class="right-text right-align"
             ng-if="visibleElements.commentBtnVisible"
             ng-click="openCommentForm()">
          <button class="waves-effect waves-light btn-floating btn-large">
            <i class="material-icons">add</i>
          </button>
        </div>

        <comment-form ng-if="visibleElements.commentFormVisible" ng-controller="CommentFormCtrl"></comment-form>
      </div>
    </div>
  </div>
</div>
